.loading {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero {
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
}

.title {
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 6rem;
}

.slogan {
  margin-top: 0;
  font-size: 2rem;
  color: rgb(102, 102, 102);
}

.CTA > * {
  margin: 0.5rem;
}

.main {
  display: grid;
  place-items: center;
}

.search {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
}

.tagSelector {
  width: 10rem;
}

.dealer {
  margin: 2rem 0;

  display: grid;
  grid-template-columns: auto auto auto auto auto;

  max-width: 90%;
}

.dealer > * {
  flex: 1;
}

.card {
  margin: 1rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: -21px 28px 105px -32px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -21px 28px 105px -32px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -21px 28px 105px -32px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.avatar {
  min-width: 15rem;
  aspect-ratio: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.1rem;
  margin-top: 1rem;
}

.tagsSelector {
  margin-top: 1rem;
  max-width: 50%;
}

.tagsSelector > * {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    line-height: 3rem;
  }

  .slogan {
    font-size: 1rem;
  }

  .dealer {
    grid-template-columns: auto;
  }

  .tagSelector {
    width: 4rem;
  }

  .info {
    flex-direction: column;
    padding: 2rem 0;
  }
  .search {
    margin: 0 2rem;
    margin-bottom: 1rem;
  }
}
